h1 {
    text-align: center;
    font-family: "Roboto Light", sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.center-pong-table {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pong-canvas {
    border-radius: 2em;
    box-shadow: 0px 0px 20px #5347ff;
}